.card-container {
  width: 100%;
  height: auto;
  background-color: #000000;

  padding: 20px;
}

.card-list {
  width: 100%;
  height: auto;
}

.card-list-plan {
  width: 100%;
  height: auto;
  background-color: #0d0d0d;
  padding: 40px 40px 40px 40px;
  margin-bottom: 15px;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-list-name {
  font-family: "Space Grotesk";
  font-weight: 400;
  color: #ff9b54;
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 1.5;
  text-align: left;

  margin-bottom: 5px;
}

.card-list-price {
  font-weight: 400;
  font-style: normal;
  font-family: "Gloock";
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0em;
  line-height: 1;

  margin: 10px 0 20px 0;
}

.card-list-button {
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: #720026;
  overflow: visible;
  border-radius: 8px;
  border: none;

  margin: 20px 0;

  font-family: "Space Grotesk";
  color: #ffffff;
  font-size: 14px;
  text-align: center;

  cursor: pointer;
  transition: 300ms;
}

.card-list-button:hover {
  background-color: #f0e914;
  color: #000;
}

@media screen and (min-width: 1200px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .card-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 1200px;
    /* background-color: red; */
  }

  .card-list-plan {
    max-width: 30%;
  }
}
